@using Festival.Helpers;



@if (Request.IsAuthenticated)
{
    <li>@Html.MenuItem("Hallo, " + User.Identity.Name + "!", "Manage", "Account")</li>
    
    // De logout knop, die graag via n post naar de logout gaat met n anti-forgery token zodat 'n gewone actionlink niet werkt en de <li>'s niet slikt */
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a class="viezeUitlogknop" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
    }

}
else
{
    <li>@Html.ActionLink("Registreer", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Inloggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
