@model IEnumerable<Festival.Models.Ticket>

@{
    ViewBag.Title = "Bestelde tickets";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            Soort
        </th>
        <th>
            Aantal
       </th>
        <th></th>
        <th>
            Prijs
        </th>
        <th></th>
    </tr>

@{
    float total = 0; 
}

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.soort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aantal)
        </td>
        <td></td>
        <td>
            €@Html.DisplayFor(modelItem => item.prijs)
            @{total += item.prijs;}
        </td>
    </tr>

}
    <tr>
        <td>Totaalprijs: </td>
        <td></td>
        <td></td>
        <td>€@total</td>
    </tr>


</table>
