@{
    ViewBag.Title = "Contact - Routebeschrijving";
}

<hgroup class="title">
    <h1>Contacteer ons.</h1>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Algemeen:</span>
        <span><a href="mailto:general@musicfestival.be">general@musicfestival.be</a></span>
    </p>
    <p>
        <span class="label">Tickets:</span>
        <span><a href="mailto:tickets@musicfestival.be">tickets@musicfestival.be</a></span>
    </p>
    <p>
        <span class="label">Sponsors:</span>
        <span><a href="mailto:sponsors@musicfestival.be">sponsors@musicfestival.be</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Fort 4<br />
        2640 Mortsel<br />
        België
    </p>
    <header>
        <h3>Vervoer</h3>
    </header>
    <p>
        Parking gelegenheid onder het stationplein<br />
        Goede aansluitingen per tram, bus en trein vanuit antwerpen,<br />
        Mechelen en Lier.        
    </p>

    <span class="label">Kaart:</span>
    <p><iframe width="525" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=fort+4,+mortsel&amp;aq=&amp;sll=51.100073,4.22699&amp;sspn=1.604045,4.22699&amp;ie=UTF8&amp;hq=fort+4,&amp;hnear=Mortsel,+Antwerpen,+Vlaams+Gewest&amp;ll=51.173713,4.461118&amp;spn=0.010114,0.011287&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.be/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=fort+4,+mortsel&amp;aq=&amp;sll=51.100073,4.22699&amp;sspn=1.604045,4.22699&amp;ie=UTF8&amp;hq=fort+4,&amp;hnear=Mortsel,+Antwerpen,+Vlaams+Gewest&amp;ll=51.173713,4.461118&amp;spn=0.010114,0.011287&amp;t=m" style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small></p>
</section>