@model Festival.Models.Band

@{
    ViewBag.Title = "Details";
}
<p>
</p>

<div class="row">
    <div class="col-md-2">
        <h2>Band</h2>
    </div>
    <div class="col-md-10">
        <h2>@Model.naam - details</h2>

        <div class="display-label">
            <img src="@Url.Content(Model.fotoUri)" width="500" height="300" />
        </div>
        <p></p>
        <div class="display-field">
            @Model.omschrijving
        </div>

        <p>
            @Html.ActionLink("Terug naar bandoverzicht", "Bands")
        </p>
    </div>
</div>
