@model Festival.Models.Band

@{
    ViewBag.Title = "Details";
}
<p>
    <h2>@Model.naam - details</h2>
</p>
<fieldset>
    <legend>Band</legend>

    <div class="display-label">
        <img src="@Url.Content(Model.fotoUri)" width="500" height="300" />
    </div>
    <p>
        <div class="display-field">
            @Model.omschrijving
        </div>
    </p>    

    

</fieldset>
<p>
    @Html.ActionLink("Terug naar bandoverzicht", "Bands")
</p>
