@{
    ViewBag.Title = "Homepagina";
}


<div class="row">
    <div class="col-md-4">
        <h2>Algemeen</h2>
        <p>Pukkelpop gaat voor een progressieve muziek- en randprogrammatie. Meer dan 200 actuele kleppers, levende legendes en visionaire alternatieve acts wisselen mekaar af op een van de acht podia. Van stevige rockacts, ingetogen singersongwriters en mokerslagen van pure pop over pompende house tot gloeiende metal. Alles kan en mag op Pukkelpop. Op de sites van Petit Bazar en Salon Fou kan je terecht voor alles wat met straattheater te maken heeft en wellness in de aller-, allerruimste zin van het woord.</p>
    </div>
    <div class="col-md-4">
        <h2>Tradities</h2>
        <p>ULTRA Music festival houdt van tradities; zoals het Boilerfeestje op de vooravond van de eerste festivaldag. Festivalgangers parkeren hun wagens in een van de omliggende parkings en gaan dan voluit voor een eclectische warming-up. Voor algemene vragen verwijzen we je graag naar onze @Html.ActionLink("contactpagina", "Contact", "Home").</p>
    </div>
    <div class="col-md-4">
        <h2>Locatie</h2>
        <p>
            Festivalgangers kunnen ULTRA Music festival bereiken via de E19 autoweg uitrit Wilrijk - de N1 vanuit Antwerpen of met het openbaar vervoer. Mortsel ligt ongeveer 10KM buiten Antwerpen, 50KM vanuit Brussel, 65KM vanuit Gent en 80KM vanuit hasselt.
        </p>
    </div>
</div>
