@model IEnumerable<Festival.Models.DagBestelling>

@{
    ViewBag.Title = "TicketBesteld";
}

<h2>TicketBesteld</h2>

<div class="row">
    <div class="col-md-2">
        <h2>Overzicht</h2>
        <p>
            U bestelde zojuist de hiernaast afgebeelde tickets.
        </p>
    </div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Soort
                </th>
                <th>Aantal
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.soort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.aantal)
                    </td>
                </tr>

            }

        </table>
    </div>
</div>
